@import "../src/style.css";

/*Главный контейнер для матрицы*/
#app { 
  margin: 0 auto;
  background: white;
  padding: 2rem;
  /* border-radius: 8px; */
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

/*Заголовок названия таблицы*/
h1 { 
  text-align: center;
  color: #333;
}

/*Контейнер в котором находится таблица*/
.table-wrapper { 
    max-width: 100%;
    min-width: 50%;
    min-height: 30vh;
    max-height: 70vh;
    overflow: auto;
    position:relative;
    border: 2px solid #333;
    border-radius: 6px;
    background: white;
    margin-left: auto;
    margin-right: auto;
}

/*Основа таблицы*/
#matrix-table { 
  border-collapse: collapse;
  width: 100%;
  min-width: max-content;
  margin: 0 auto;
}

/* Верхняя строка — sticky */
#matrix-table th.col-header,
#matrix-table th.corner-header {
    position: sticky;
    top: 0;
    background: #444;
    color: white;
    z-index: 10;
    padding: 12px;
    border: 1px solid #333;
    text-align: center;
    max-width: 200px;
}

/* Первая колонка — sticky */
#matrix-table th.row-header,
#matrix-table td:first-child {
    position: sticky;
    left: 0;
    background: white;
    color: #333;
    z-index: 9;
    border-right: 1px solid #333;
    border-top: 1px solid #999;
    padding: 12px;
    text-align: center;
}

/* Угловой элемент — sticky в обе стороны */
#matrix-table th.corner-header {
    z-index: 11 !important;
    background: #444 !important;
    color: white !important;
    left: 0;
}

/* Диагональ */
td.diagonal {
    background: #222;
    color: #aaa;
    font-weight: bold;
}

/* Обычные ячейки */
#matrix-table td {
    padding: 8px;
    border: 1px solid #999;
    text-align: center;
    background: white;
}

/*Контейнер выбора опций в клетках*/
select {
    width: 90px;
    padding: 4px;
    font-size: 1rem;
}

/*Общий контейнер кнопок под таблицей*/
.buttons {
  text-align: center;
  margin-top: 1.5rem;
}

/*Общий шаблон кнопок под таблицей*/
button {
  padding: 10px 24px;
  font-size: 1rem;
  margin: 0 10px 10px;
  background: #0066cc;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #0055aa;
}

/*Шаблон для кнопок экспорта*/
.btn-export {
  background: #107e3e;
}

.btn-export:hover {
  background: #0e6b33;
}

/*Форматирование стутуса (по умолчанию)*/
#matrix-status {
  margin-top: 1rem;
  text-align: center;
  font-weight: bold;
  color: black; /*черный текст по умолчанию*/
  font-size: 30px;
}

/*Контейнер для таблицы + вертикального заголовка*/
.table-container {
  display: flex;
  align-items: flex-start;
}

/*Вертикальный заголовок*/
.vertical-header {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  padding: 5px 5px 50px;
  font-weight: bold;
  border-right: 1px solid #ccc;
  margin-right: 0px;
}

/*Горизонтальный заголовок*/
.horizontal-header {
  font-weight: bold;
  margin-bottom: 5px;
  padding: 0px 0px 0px 50px;
  margin-left: auto;
}
