@import "../src/style.css";

.name-list-cont {
  /*Container with specific width for name_list*/
  margin: 0 auto;
  background: white;
  max-width: 600px;
  padding: 20px;
  /* border-radius: 12px; */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.input-group {
  /*Name_list; makes input buttons scale properly*/
  display: flex;
  gap: 10px;
}

input {
  /*Поля ввода в name_list*/
  flex: 1;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  /*Кнопки в name_list*/
  padding: 12px 20px;
  background: #1976d2;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #1565c0;
}


/*Форматирование статуса (аналогично матрицам)*/
.status {
  margin-top: 1rem;
  text-align: center;
  font-weight: bold;
  color: black;
  font-size: 30px;
}

.status.success {
  color: green;
}

.status.error {
  color: red;
}

.status.info {
  color: blue;
}

.word-item {
  /*контейнер для каждого имени в списке*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background: #e3f2fd;
  border-radius: 8px;
  margin: 6px 0;
}

.word-text {
  /*текст каждого имени в списке*/
  font-weight: 500;
}

.delete-btn {
  /*Кнопка удаления для каждого имени в списке*/
  background: #e53935;
  color: white;
  border: none;
  width: 28px;
  height: 28px;
  border-radius: 5%;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-btn:hover {
  background: #d32f2f;
}

.empty {
  /*Стиль параграфа при пустом списке*/
  color: #666;
  font-style: italic;
  text-align: center;
  padding: 20px;
}