body { /*Index.html body; Window BG*/
	font-family: system-ui, sans-serif;
	margin: 0;
	padding: 0px;
	background: #f5f5f5;
}

.container { /*Container with ALL the content in index.html*/
	margin: 0 auto;
	background: white;
	/* padding: 20px;
	border-radius: 12px;
	box-shadow: 0 2px 10px rgba(0,0,0,0.1); */
}

h2 { /*header for Menu and List*/
	text-align: center;
	color: #333;
}

/*Navbar*/

nav {
	position: sticky;
	top: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: flex;
  justify-content: center;
}

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

ul li a.active {
  background-color: #04AA6D;
}